.DS_Store
project/.DS_Store
project/project/.DS_Store
project/project/target/.DS_Store
project/project/target/config-classes/$6fb2d9b636449ec6f218$.class
project/project/target/config-classes/$6fb2d9b636449ec6f218.cache
project/project/target/config-classes/$6fb2d9b636449ec6f218.class
project/project/target/config-classes/$bd7ab6fe218c9d9cf5b4$.class
project/project/target/config-classes/$bd7ab6fe218c9d9cf5b4.cache
project/project/target/config-classes/$bd7ab6fe218c9d9cf5b4.class
project/project/target/scala-2.12/
project/project/target/streams/
